
<style type="text/css">
    .jumbotron-sm { padding-top: 10px;
padding-bottom: 10px; }
.jumbotron small {
color: #FFF;
}
address{
    color: white
}
</style>
<div ng-controller="contactController">
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contact us <small>Feel free to contact us</small></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" ng-model="cont.NAME" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" ng-model="cont.EMAIL"/></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                            <select id="subject" name="subject" class="form-control" required="required" ng-model="cont.SUBJECT">
                                <option value="na" selected="">Choose One:</option>
                                <option value="Service">General Customer Service</option>
                                <option value="Suggestions">Suggestions</option>
                                <option value="Product">Product Support</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message" ng-model="cont.MESSAGE"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs" ng-click="contactUs()">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend style="color:white"><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
                <strong>Zero.com</strong><br>
                A-120<br>
                Noida Sec-65, UP(India) 201301<br>
                <abbr title="Phone">
                    P:</abbr>
                (+91) 9042090420
            </address>
            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address>
            </form>
        </div>
    </div>
</div>

</div>
 <div class="alert alert-success alert-dismissable" id="success" style="display:none">
            Success! message sent successfully.
        </div>
         <div class="alert alert-danger alert-dismissable" id="fail" style="display:none">
            Warning! this email is already exist.
        </div>
